{% extends "layout.html" %}

{% block title%}
    Manage Categories
{% endblock %}

{% block main %}
    <h2 class="mb-4">Add New Category</h2>
    <form action="/categories" method="POST" class="mb-5">
        <div class="input-group">
            <input type="text" name="category_name" class="form-control" placeholder="New Category Name">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>

    <hr>

    <h2 class="mb-4 mt-4">Your Categories</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    {% if category.user_id %}
                    <form action="/delete_category" method="POST" style="display:inline;">
                        <input type="hidden" name="category_id" value={{ category.id }}>
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                    {% else %}
                    <span class="text-muted">Default</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
