{% extends "layout.html" %}

{% block title %}
    {{ t['nav_history'] }}
{% endblock %}

{% block main %}
    <h1 class="mb-4">{{ t['nav_history'] }}</h1>

    <form action="/history" method="GET" class="row g-3 mb-4 align-items-center justify-content-end">
        <div class="col-auto">
            <label for="month" class="form-label">{{ t['month'] }}</label>
            <input type="month" id="month" name="month" class="form-control" value="{{ request.args.get('month', '') }}">
        </div>
        <div class="col-auto">
            <label for="category" class="form-label">{{ t['category'] }}</label>
            <select id="category" name="category" class="form-select">
                <option value="" selected>{{ t['all'] }}</option>
                {% for category in categories %}
                <option value="{{ category.name }}" {% if request.args.get('category') == category.name %}selected{% endif %}>{{ t.get(category.name, category.name) }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto mt-auto">
            <button type="submit" class="btn btn-primary">{{ t['filter'] }}</button>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">{{ t['date'] }}</th>
                <th class="text-start">{{ t['transaction_type'] }}</th>
                <th class="text-start">{{ t['amount'] }}</th>
                <th class="text-start">{{ t['category'] }}</th>
                <th class="text-start">{{ t['description'] }}</th>
                <th>{{ t['action'] }}</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td class="text-start">{{ transaction.timestamp | dateformat }}</td>
                <td class="text-start">{{ t.get(transaction.type, transaction.type) }}</td>
                <td class="text-start {% if transaction.type == 'Income' %}text-success{% else %}text-danger{% endif%}">
                    {{ transaction.amount | format_currency }}
                </td>
                <td class="text-start">{{ t.get(transaction.category, transaction.category) }}</td>
                <td class="text-start">{{ transaction.description }}</td>
                <td>
                    <form action="/delete_transaction" method="POST" style="display:inline;">
                        <input type="hidden" name="transaction_id" value="{{ transaction.id }}">
                        <button type="submit" class="btn btn-danger btn-sm">{{ t['delete'] }}</button>
                    </form>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6" class="text-center">{{ t['no_transactions'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
